.react-icon {
    color: white;
    cursor: pointer;
    outline: none;
}
.react-icon-black {
    color: black;
    cursor: pointer;
    outline: none;
}
.remove-typing-cursor {
    cursor: default;
    user-select: none;
}